services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  orders-service:
    image: node:22
    container_name: orders-service
    working_dir: /app
    volumes:
      - ./orders-service:/app
    command: bash -c "npm install express amqplib && node index.js"
    environment:
      - RABBITMQ_URL=amqp://rabbitmq
    ports:
      - "3000:3000"
    depends_on:
      - rabbitmq

  payments-service:
    image: node:22
    # container_name: payments-service
    working_dir: /app
    deploy:
      replicas: 3
    volumes:
      - ./payments-service:/app
    command: bash -c "npm install amqplib && node index.js"
    environment:
      - RABBITMQ_URL=amqp://rabbitmq
    depends_on:
      - rabbitmq

  shipping-service:
    image: node:22
    container_name: shipping-service
    working_dir: /app
    volumes:
      - ./shipping-service:/app
    command: bash -c "npm install amqplib && node index.js"
    environment:
      - RABBITMQ_URL=amqp://rabbitmq
    depends_on:
      - rabbitmq

  notifications-service:
    image: node:22
    container_name: notifications-service
    working_dir: /app
    volumes:
      - ./notifications-service:/app
    command: bash -c "npm install amqplib && node index.js"
    environment:
      - RABBITMQ_URL=amqp://rabbitmq
    depends_on:
      - rabbitmq

  monitor-service:
    image: node:22
    container_name: monitor-service
    working_dir: /app
    volumes:
      - ./monitor-service:/app
    command: bash -c "npm install express amqplib && node index.js"
    environment:
      - RABBITMQ_URL=amqp://rabbitmq
    ports:
      - "5000:3000"

    depends_on:
      - rabbitmq

  # orchestrator-service:
  #   image: node:22
  #   container_name: orchestrator-service
  #   working_dir: /app
  #   volumes:
  #     - ./orchestrator-service:/app
  #   command: bash -c "npm install express axios && node index.js"
  #   ports:
  #     - "4000:4000"
  #   depends_on:
  #     - orders-service
  #     - payments-service
  #     - shipping-service
  #     - notifications-service